$background-color: #ffffff16;
$background-color2: #DCE0E3;
$default-color: #444444;
$heading-color: #222222;
$accent-color: #34b7a7;
$surface-color: #ffffff;
$contrast-color: #ffffff;
$scroll-behavior: smooth;
$nav-color: #444444;
$nav-hover-color: #34b7a7;
$nav-mobile-background-color: #ffffff;

$light-background-color: #e9e8e6;
$dark-background-color: #060606;
$dark-default-color: #ffffff;
$dark-heading-color: #ffffff;
$dark-surface-color: #252525;
$dark-contrast-color: #ffffff;


$main-color: #222222;
$secondary-text-color: #777777;
