.header {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 15px 0;
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
  }
  
 
  .header .logo {
    line-height: 1;
  }
  
  .header .logo img {
    max-height: 36px;
    margin-right: 8px;
  }
  
  .header .logo h1 {
    font-size: 32px;
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--heading-color);
  }
  
  /* Social Links */
  .header .header-social-links a {
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    padding-left: 6px;
    display: inline-block;
    transition: 0.3s;
    font-size: 30px;
  }
  
  .header .header-social-links a:hover {
    color: var(--accent-color);
  }
  
  /* Menu di navigazione */
  .navmenu {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navmenu li {
    position: relative;
  }
  
  .navmenu a {
    color: var(--nav-color);
    font-size: 15px;
    padding: 0 2px;
    font-family: var(--nav-font);
    font-weight: 400;
    display: flex;
    align-items: center;
    transition: 0.3s;
    position: relative;
  }
  
  .navmenu li:hover > a {
    color: var(--nav-hover-color);
  }