body {
  color: var(--default-color);
  background: linear-gradient(to bottom, #DCE0E3, #FFFFFF);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

.header {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 15px 0;
  transition: all 0.5s;
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

.header .logo {
  line-height: 1;
}

.header .logo img {
  max-height: 36px;
  margin-right: 8px;
}

.navmenu {
  padding: 0;
}

.navmenu ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

@media (max-width: 1199px) {
  .mobile-nav-toggle {
    cursor: pointer;
    display: block;
  }
}
.hero {
  width: 100%;
  min-height: calc(100vh - 82px);
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  opacity: 0.6;
}

.hero h2 {
  font-size: 50px;
  font-weight: 700;
  color: rgb(72, 80, 83);
  font-family: "Merriweather", serif;
}

.section {
  color: var(--default-color);
  padding: 60px 0;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.hero {
  width: 100%;
  min-height: calc(100vh - 82px);
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  opacity: 0.6;
}

.hero .container {
  position: relative;
  z-index: 1;
}

.hero h2 {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  color: rgb(72, 80, 83);
  font-family: "Merriweather", serif;
  letter-spacing: 3px;
}

.hero p {
  margin: 10px 0 0 0;
  font-size: 24px;
  color: var(--heading-color);
}

.hero .btn-get-started {
  color: var(--contrast-color);
  background: var(--accent-color);
  font-family: var(--heading-font);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
}

.hero .btn-get-started:hover {
  background: color-mix(in srgb, var(--accent-color) 90%, white 20%);
}

.header {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 15px 0;
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

/* Logo e Social Links */
.header .logo {
  line-height: 1;
}

.header .logo img {
  max-height: 36px;
  margin-right: 8px;
}

.header .logo h1 {
  font-size: 32px;
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--heading-color);
}

/* Social Links */
.header .header-social-links a {
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  padding-left: 6px;
  display: inline-block;
  transition: 0.3s;
  font-size: 30px;
}

.header .header-social-links a:hover {
  color: var(--accent-color);
}

/* Menu di navigazione */
.navmenu {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navmenu li {
  position: relative;
}

.navmenu a {
  color: var(--nav-color);
  font-size: 15px;
  padding: 0 2px;
  font-family: var(--nav-font);
  font-weight: 400;
  display: flex;
  align-items: center;
  transition: 0.3s;
  position: relative;
}

.navmenu li:hover > a {
  color: var(--nav-hover-color);
}/*# sourceMappingURL=style.css.map */